<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.PuiMalinee3001.reactionrate1"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
 
  <name>reactionrate1</name>

  <description>
      reactionrate1.
  </description>
 
  <author href="https://PuiMalinee3001.com" email="puimalinee40@gmail.com">
      PuiMalinee3001.
  </author>
</widget>
